@import "./bootstrap-theme.scss";

.selfie-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.selfie {
	max-height: 50vh;
	overflow: hidden;

	@media screen and (max-width: 768px) {
		max-height: 30vh;
	}
}

.about-text {
	color: black;
}

.about-title {
	font-family: 'Roboto Mono', monospace;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.technologies {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
	grid-gap: 20px;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.technology{
	// text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	font-weight: 600;
	font-style: italic;
}

@media screen and (max-width: 768px) {
	.doing-things {
		flex-direction: column;
	}

	.carousel-caption {
		display: none;
	}

	.text-container {
		padding-left: 2rem;
		padding-right: 2rem;
	}

}


// .introduction {
// 	margin: 10px 0 0 10px;
// 	white-space: nowrap;
// 	overflow: hidden;
// 	width: 30em;
// 	animation: type 6s steps(60, end);
// }

// @keyframes type {
// 	from {
// 		width: 0;
// 	}
// }